.ariaTextArea:global(.__wab_instance) {
  box-sizing: border-box;
  object-fit: cover;
  position: relative;
  box-shadow: inset 0px 0px 0px 1px var(--token-6JOeFAOmoPn8);
  font-size: var(--token-iLazWMifXmOZ);
  line-height: var(--token-Gg4fu9j4piD1);
  width: 100%;
  color: var(--token-9oWQ70IkSvAY);
  font-family: var(--token-okQwS6KbBlY_);
  min-width: 0;
  border-radius: var(--token-VOiBTWaHcoeB);
  padding: var(--token-VOiBTWaHcoeB) var(--token-cWfgStfENDtd);
  border-style: none;
}
.ariaTextArea[data-focused][data-focused]:global(.__wab_instance) {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token-sLEJUehC8NNd);
  outline-offset: 1px;
}
.ariaTextArea[data-disabled][data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.ariaTextAreatype_soft:global(.__wab_instance) {
  background: var(--token-P3oiU52Wdqzi);
  box-shadow: none;
}
.ariaTextAreatype_soft[data-hovered][data-hovered]:global(.__wab_instance) {
  background: var(--token-S2UVs99dv5vU);
}
.ariaTextAreatype_plain:global(.__wab_instance) {
  box-shadow: none;
}
.ariaTextAreatype_plain[data-hovered][data-hovered]:global(.__wab_instance) {
  background: var(--token-P3oiU52Wdqzi);
}
.ariaTextAreaflat_top:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.ariaTextAreaflat_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaTextAreaflat_bottom:global(.__wab_instance) {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaTextAreaflat_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.ariaTextAreapadded_left:global(.__wab_instance) {
  padding-left: var(--token-mWr0akrpNQ4F);
}
.ariaTextAreapadded_right:global(.__wab_instance) {
  padding-right: var(--token-mWr0akrpNQ4F);
}
