.ariaTextField:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  row-gap: var(--token-EICj6su4bgCv);
  min-width: 0;
}
.ariaTextField[data-disabled][data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.label:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.freeBox__r0PGg {
  display: flex;
  flex-direction: column;
}
.freeBox__rbT8Z {
  flex-direction: row;
  position: absolute;
  height: var(--token-mWr0akrpNQ4F);
  align-items: center;
  justify-content: center;
  z-index: 9;
  left: 0px;
  top: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token-VOiBTWaHcoeB) var(--token-cWfgStfENDtd);
}
.freeBoxiconStart__rbT8ZgpAfg {
  display: flex;
}
.slotTargetStart {
  color: var(--token-J9N0HDXGBn5p);
}
.svg___3PXdF {
  position: relative;
  height: 1em;
}
.textAreaInputmultiLine:global(.__wab_instance):global(.__wab_instance) {
  display: block;
}
.freeBox__untry {
  height: var(--token-mWr0akrpNQ4F);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token-VOiBTWaHcoeB) var(--token-cWfgStfENDtd);
}
.freeBoxiconEnd__untrynEbk5 {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-J9N0HDXGBn5p);
}
.svg__jWq9B {
  position: relative;
  height: 1em;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
